src/conf/xml-resources/web-service-references/BankWebService/wsdl/localhost_8080/BankWebservice/BankWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="checkAmerican" type="tns:checkAmerican"/>

<xs:element name="checkAmericanResponse" type="tns:checkAmericanResponse"/>

<xs:element name="checkCard" type="tns:checkCard"/>

<xs:element name="checkCardResponse" type="tns:checkCardResponse"/>

<xs:element name="checkDinner" type="tns:checkDinner"/>

<xs:element name="checkDinnerResponse" type="tns:checkDinnerResponse"/>

<xs:element name="checkDiscover" type="tns:checkDiscover"/>

<xs:element name="checkDiscoverResponse" type="tns:checkDiscoverResponse"/>

<xs:element name="checkMaster" type="tns:checkMaster"/>

<xs:element name="checkMasterResponse" type="tns:checkMasterResponse"/>

<xs:element name="checkVisa" type="tns:checkVisa"/>

<xs:element name="checkVisaResponse" type="tns:checkVisaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="checkCard">
<xs:sequence>
<xs:element name="cardType" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="securityCode" type="xs:string" minOccurs="0"/>
<xs:element name="expdateMonth" type="xs:string" minOccurs="0"/>
<xs:element name="expdateYear" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkMaster">
<xs:sequence>
<xs:element name="arg0" type="tns:card" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="card">
<xs:sequence>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="expdateMonth" type="xs:string" minOccurs="0"/>
<xs:element name="expdateYear" type="xs:string" minOccurs="0"/>
<xs:element name="securityNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkMasterResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkVisa">
<xs:sequence>
<xs:element name="arg0" type="tns:card" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkVisaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAmerican">
<xs:sequence>
<xs:element name="arg0" type="tns:card" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAmericanResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDinner">
<xs:sequence>
<xs:element name="arg0" type="tns:card" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDinnerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDiscover">
<xs:sequence>
<xs:element name="arg0" type="tns:card" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDiscoverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>