src/java/META-INF/BankWebService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/BankWebservice/BankWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="checkCard">
<part name="parameters" element="tns:checkCard"/>
</message>
<message name="checkCardResponse">
<part name="parameters" element="tns:checkCardResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="checkAmerican">
<part name="parameters" element="tns:checkAmerican"/>
</message>
<message name="checkAmericanResponse">
<part name="parameters" element="tns:checkAmericanResponse"/>
</message>
<portType name="BankWebService">
<operation name="checkCard">
<input wsam:Action="http://ws/BankWebService/checkCardRequest" message="tns:checkCard"/>
<output wsam:Action="http://ws/BankWebService/checkCardResponse" message="tns:checkCardResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/BankWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/BankWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="checkAmerican">
<input wsam:Action="http://ws/BankWebService/checkAmericanRequest" message="tns:checkAmerican"/>
<output wsam:Action="http://ws/BankWebService/checkAmericanResponse" message="tns:checkAmericanResponse"/>
</operation>
</portType>
<binding name="BankWebServicePortBinding" type="tns:BankWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAmerican">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWebService">
<port name="BankWebServicePort" binding="tns:BankWebServicePortBinding">
<soap:address location="http://localhost:8080/BankWebservice/BankWebService"/>
</port>
</service>
</definitions>